.body{
    background-color: rgb(102, 104, 104);
}
h1{
color: aliceblue;
font-family: sans-serif;
font-weight:bold;
}

.card{
    width: 100%;
    margin-left: 50%;
    margin-top: 30%;
    
}

button{
    background-color: rgb(95, 29, 29);
    color: white;
    font-size: 22px;
}