<div class="search input-group">
    <span class="input-group-btn">
      <span class="glyphicon glyphicon-th"></span>
    </span>
    <input type="text" class=" form-control" placeholder="Search for repositories">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">Search</button>
    </div>
  </div>

<!-- <div class="col-sm-9">
    <div class="card bg-light">
      <div class="card-body"  *ngFor="let repo of repos">
        <p>{{repo.full_name}}</p>
        <h5 class="card-title">Repository name:{{repo.name}}</h5>
        <p class="card-text">Description:{{repo.description}}</p>
        <a [href]="repo.html_url" class="btn btn-primary">view repo</a>
      </div>
    </div>
  </div> -->
