.heading {
    font-weight: bold;
    margin-top: 50px;
    color: rgb(13, 13, 223);
}

 .heading p{
font-size:20px;
margin-top: 30px;
}

.forms {
    margin-top:30px;

}

button{
    background-color: rgb(95, 29, 29);
    color: white;
    font-size: 22px;
}