
<div class="heading text-center">
        <h1 class="origin display-3">WELCOME TO GITHUB WEB </h1>
        <p>This web application enables you to search users and their repositories.</p>
        <form class=" forms form-inline">
          <button class="btn btn-outline-success" type="button" routerLink="user" routerLinkActive='active'>Search user</button>
          <button class="btn btn-outline-secondary" type="button" routerLink="repo" routerLinkActive='active'>Search  repositories</button>
        </form>
</div>
    
